/* De CSS voor meerdere pagina's */

.background {
    margin: 0;
    background-image: url("zoobackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.menu {
    display: inline-block;
    width: 98.45%;
    
    background-color: darkgreen;
    
    overflow: hidden;
    padding: 10px;

}

.menu a {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
}


.logout {
    background-color: orange;
    
}

.menu a:hover {
    background-color:mediumaquamarine;
}

.input {
    height: 23px;
    font-size: 20px;
}


/* De CSS voor login.php */

#loginpage {
    margin: 0;
    background-image: url("zoobackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}
#login {
    background-color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 20%;
    margin-left: 40%;
    margin-top: 15%;
    border-radius: 25px;
    padding: 20px;
}

#btnDiv {
    position: relative;
    top: 10px;
}

#loginButton {
    height: 30px;
    width: 84px;
    position: relative; 
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 3px;
}

#createButton {
    height: 30px;
    width: 84px;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* De CSS voor user.php */
#newUser {
    font-weight: bold;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    width: 24%;
    height: 4cm;
    margin-left: 35%;
    margin-top: 12%;
    padding-left: 30px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 11%;
}

#userButton {
    height: 30px;
    margin-top: 35px;
    position: relative;
    left: 47%;
    transform: translate(-50%,-50%);

}

/* De CSS voor register.php */
#registerForm {
    font-weight: bold;
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    width: 26%;
    height: 8cm;
    margin-left: 34%;
    margin-top: 8px;
    padding-left: 30px;
    padding-top: 5px;
    border-radius: 25px;
}

#registerForm select {
    font-size: 19px;
}



.submitButton {
    background-color: lightgreen;
    border-style: groove;
    border-radius: 10px;
    border-width: 2px;
    font-size: 16px;
    
}

.submitButton:hover {
    
    border-color: greenyellow;
}

/* De CSS voor homepage.php */

#page1 {
    margin: 0;
    background-image: url("zoobackground2.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

#page1Content {
    background-color: burlywood;
    border-radius: 25px;
    padding: 5px;
    width: 45%;
    margin-left: 26%;
    margin-top: 16%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* De CSS voor addpage.php */

#addForm {
    
    font-weight: bold;
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    width: 30%;
    height:6cm;
    margin-left: 34%;
    margin-top: 10px;
    padding-left: 30px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 11%;
}

#addForm form {
    margin-left: 25px;
}

#addForm input, #addForm select {
    font-size: 19px;
}

#button {
    background-color: lightgreen;
    border-style: groove;
    border-radius: 10px;
    border-width: 2px;
    font-size: 18px;
    
}

#button:hover {
    
    border-color: greenyellow;
}

/* De CSS voor overview.php */

#overviewPage {
    background-color: burlywood;
    margin: 0;
}

.header {
    margin-left: 10%;
}


#searchLabel {
    margin-left: 10%;
}

.overviewRadio {
    margin-left: 10%;
}

table {
    border-collapse: collapse;
    border: solid 1px black;
    width: 80%;
    margin-left: 10%;
}


th {
    color: white;
    background-color: darkgreen;
    border: solid 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

tr {
    color: black;
    text-align: center;
    background-color: #f0e130;
}

tr:nth-child(even) {
    background-color: khaki;
  }

td {
    color: black;
    border-style:double;
}

#moveDiv {
    margin-left: 10%;
}

/* De CSS voor pagina's met tabellen.php */
body {
    background-color: burlywood;
    margin: 0;
}

/* De CSS voor placinghistory.php  */ 
.toolsDiv {
    margin-left: 10%;
    width: 1023px;
}








